*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

body{
  background-image: url(/imagem/fundo.jpg);  
background-repeat: no-repeat;
}

div{

width: 400px;
position: absolute;
margin-top: 25%;
margin-left: 50%;
transform: translate(-50%, -60%);
border-radius: 50px;
background-color: rgb(0, 183, 255);

}

.l{
text-align: center;
color: white;
}
input{
display: block;
}

.text, .pass{

margin: auto ;
margin-top: 20px;
padding: 10px;
border-radius: 15px;
outline: none;
border-style: none;
cursor: pointer;
background-color: rgb(255, 249, 249);

}

a{
display: block;

}


.check{
color:white;
display: inline;
margin-top: 20px;
margin-left: 10px;
cursor: pointer;
outline: none;

}

.o{
   display: inline;
   color: white; 
}


.button{

display: block;
margin: auto ;
margin-top: 10px;
padding: 10px;
padding-left: 40px;
padding-right: 40px;
outline: none;
border-radius: 10px;
border-style: none;
background-color: rgb(0, 110, 255);
color: white;
cursor: pointer;
}

.senha{

display: block;
margin-top: 20px;
margin-left: 30%;
color: white;
text-decoration: none;
padding: 6px;
}

.a{
font-size: 13px;
text-align: center;
margin-top: 2px;
text-decoration: 40px;
}

.b{
color: white;


}

.c{
color:rgb(0, 0, 0);

}



.text:hover, .pass:hover{
border-color: rgb(110, 8, 206);
border-style: solid;
transition-property:border-color, border-style;
transition: 250ms;
}

.button:active{
background-color: white;
transition-property: background-color;
transition: 200ms;

}

@media screen and (max-device-width: 900px) {

div{

width: 250px;
margin-top: 400px;

}

.senha{

font-size: 15px;
margin-left: 20%;
}
}


@media screen and (min-device-width: 1000px) {

div{
margin-top: 350px;
margin-left:;


}

}







